nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 0 5px;
}
nav li:hover{
    background-color: chartreuse;

}
nav li a{
    text-decoration: none;
    color: black;
}
/* Nested navigation */
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: darkorange;
    padding-left: 5px;
}
nav li:hover > .dropdown{
    display: block;
}
caption strong{
    color: crimson;
}
tr td{
    background-color: aqua;
}